@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
.update {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 333%;
    background-color: #007b5b;
    color: #007b5b;
    
    padding: center;
}

.update-right { 
    background-color: white;
    box-shadow: 18px 18px 5px #00000036;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 400px;
    height: 500px;
}

.update-right h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.update-right h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.updateInputemail{
    display: flex;
    align-items: center;
    color: #007b5b;
    box-shadow: 10px;
    background-color: #f0f4f7;
    box-shadow: 5px 3px 5px #00000036;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    width: 70%;
    height: 40px;
}

.updateInputemail svg {
    margin-left: 10px;
    font-size: 25px;
  
}

.updateInputemail input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: black;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.updateInputPassword {
    display: flex;
    align-items: center;
    color: #007b5b;
    background-color: #f0f4f7;
    box-shadow: 5px 3px 5px #00000036;
    border-radius: 3px;
    padding: 3px;
    margin: 10px;
    width: 70%;
    height: 40px;
    border-radius: 5px;
}

.updateInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.updateInputPassword input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color:  #007b5b;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}
.updateInputConfPassword {
    display: flex;
    align-items: center;
    color: #007b5b;
    background-color: #f0f4f7;
    box-shadow: 5px 3px 5px #00000036;
    border-radius: 3px;
    padding: 3px;
    margin: 10px;
    width: 70%;
    height: 40px;
    border-radius: 5px;
}

.updateInputConfPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.updateInputConfPassword input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color:  #007b5b;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}
.buttonUpdate button{
    background-color: #007b5b;
    color: white;
    box-shadow: 5px 3px 5px #00000036;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 43px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.buttonUpdate button:hover{
    background-color: white;
    color: #007b5b;
    cursor: pointer;
}
.cancelar{
    color: black;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}
